.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width:388px; 
    height:260px;
}

.col-sm-100001{
  width:388px; 
    height:260px;
}